streamlit
python-dotenv
langchain
openai
faiss-cpu
pandas
plotly
numpy
scikit-learn
matplotlib
rich
torch
transformers
typing
tqdm
regex
requests
aiohttp
yarl
dataclasses
pydantic
tenacity
packaging
mypy-extensions
typing-inspect
typing-extensions
